body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.options {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 150px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    transform: rotateY(180deg);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#restartBtn, #styleToggleBtn {
    margin-top: 20px;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.card.scale {
    animation: scale 0.6s;
}
